# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
# Create a District Summary
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [3]:
# Total number of schools

school_data_complete['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [4]:
# Total number of students

school_data_complete['Student ID'].count()

39170

In [5]:
# Total budget
school_data_complete['budget'].sum()

82932329558

In [6]:
# Average math score
school_data_complete['math_score'].mean()

78.98537145774827

In [7]:
# Average reading score
school_data_complete['reading_score'].mean()

81.87784018381414

In [8]:
# Overall average score
reading = school_data_complete['reading_score'].mean()
math = school_data_complete['math_score'].mean()

(math + reading) / 2

80.43160582078121

In [9]:
# Percentage of passing math (70 or greater)

len(school_data_complete[school_data_complete['math_score']>=70])/school_data_complete['Student ID'].count()*100

74.9808526933878

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [10]:
#  Sort and display the top five schools in overall passing rate

top5 = school_data_complete.groupby('school_name').agg(
    studentcounts = pd.NamedAgg(column='Student ID', aggfunc='count'),
    mathpass = pd.NamedAgg(column='math_score', aggfunc=lambda x: (x>70).sum()),
    readingpass = pd.NamedAgg(column='reading_score', aggfunc=lambda x: (x>70).sum())
)
#school_data_complete.sort_values('school_name', ascending=False).head()

top5["mathratio"]=top5['mathpass']/top5['studentcounts']
top5["readingratio"]=top5['readingpass']/top5['studentcounts']
top5["overallratio"]= (top5["mathratio"]+top5["readingratio"])/2
top5.sort_values("overallratio", ascending=False).head(5)

,studentcounts,mathpass,readingpass,mathratio,readingratio,overallratio
school_name,,,,,,
Wilson High School,2283,2076,2129,0.909330,0.932545,0.920937
Pena High School,962,882,887,0.916840,0.922037,0.919439
Wright High School,1800,1625,1682,0.902778,0.934444,0.918611
Cabrera High School,1858,1664,1744,0.895587,0.938644,0.917115
Holden High School,427,387,396,0.906323,0.927400,0.916862

In [11]:
# Calculate per student budget

studentbudget = school_data_complete.groupby('school_name').agg(
    studentcounts = pd.NamedAgg(column='Student ID', aggfunc='count'),
    schoolbudget = pd.NamedAgg(column='budget', aggfunc='max'))
studentbudget["student_budget_ratio"]=studentbudget['schoolbudget']/studentbudget['studentcounts']
studentbudget

                       studentcounts  schoolbudget  student_budget_ratio
school_name
Bailey High School              4976       3124928                 628.0
Cabrera High School             1858       1081356                 582.0
Figueroa High School            2949       1884411                 639.0
Ford High School                2739       1763916                 644.0
Griffin High School             1468        917500                 625.0
Hernandez High School           4635       3022020                 652.0
Holden High School               427        248087                 581.0
Huang High School               2917       1910635                 655.0
Johnson High School             4761       3094650                 650.0
Pena High School                 962        585858                 609.0
Rodriguez High School           3999       2547363                 637.0
Shelton High School             1761       1056600                 600.0
Thomas High School              1635       1043130                 638.0
Wilson High School              2283       1319574                 578.0
Wright High School              1800       1049400                 583.0

In [12]:
# Cacluate the avg math and reading score

student_scores = school_data_complete.groupby('school_name').agg(
    math_score = pd.NamedAgg(column='math_score', aggfunc='mean'),
    reading_score = pd.NamedAgg(column='reading_score', aggfunc='mean'))
student_scores

                       math_score  reading_score
school_name
Bailey High School      77.048432      81.033963
Cabrera High School     83.061895      83.975780
Figueroa High School    76.711767      81.158020
Ford High School        77.102592      80.746258
Griffin High School     83.351499      83.816757
Hernandez High School   77.289752      80.934412
Holden High School      83.803279      83.814988
Huang High School       76.629414      81.182722
Johnson High School     77.072464      80.966394
Pena High School        83.839917      84.044699
Rodriguez High School   76.842711      80.744686
Shelton High School     83.359455      83.725724
Thomas High School      83.418349      83.848930
Wilson High School      83.274201      83.989488
Wright High School      83.682222      83.955000

#### Find the passing rate for math and reading (above 70 points)

In [13]:
# Find the total counts of math result



# Find the counts for math result in each school that pass 70 or higher


# Calculate the math passing rate: mathpass/mathcounts

mathpassers = school_data_complete.groupby('school_name').agg(
    mathcounts = pd.NamedAgg(column='math_score', aggfunc='count'),
    mathpass = pd.NamedAgg(column='math_score', aggfunc=lambda x: (x>70).sum()))

mathpassers["math_passing_rate"]=mathpassers['mathpass']/mathpassers['mathcounts']

mathpassers

                       mathcounts  mathpass  math_passing_rate
school_name
Bailey High School           4976      3216           0.646302
Cabrera High School          1858      1664           0.895587
Figueroa High School         2949      1880           0.637504
Ford High School             2739      1801           0.657539
Griffin High School          1468      1317           0.897139
Hernandez High School        4635      3001           0.647465
Holden High School            427       387           0.906323
Huang High School            2917      1847           0.633185
Johnson High School          4761      3040           0.638521
Pena High School              962       882           0.916840
Rodriguez High School        3999      2562           0.640660
Shelton High School          1761      1583           0.898921
Thomas High School           1635      1475           0.902141
Wilson High School           2283      2076           0.909330
Wright High School           1800      1625           0.902778

In [14]:
# Find the total counts of read result

# Find the counts for read result in each school that pass 70 or higher


# Calculate the read passing rate

readpassers = school_data_complete.groupby('school_name').agg(
    readcounts = pd.NamedAgg(column='reading_score', aggfunc='count'),
    readpass = pd.NamedAgg(column='reading_score', aggfunc=lambda x: (x>70).sum()))

readpassers["reading_passing_rate"]=readpassers['readpass']/readpassers['readcounts']

readpassers

                       readcounts  readpass  reading_passing_rate
school_name
Bailey High School           4976      3946              0.793006
Cabrera High School          1858      1744              0.938644
Figueroa High School         2949      2313              0.784334
Ford High School             2739      2123              0.775100
Griffin High School          1468      1371              0.933924
Hernandez High School        4635      3624              0.781877
Holden High School            427       396              0.927400
Huang High School            2917      2299              0.788138
Johnson High School          4761      3727              0.782819
Pena High School              962       887              0.922037
Rodriguez High School        3999      3109              0.777444
Shelton High School          1761      1631              0.926178
Thomas High School           1635      1519              0.929052
Wilson High School           2283      2129              0.932545
Wright High School           1800      1682              0.934444

In [15]:
# Calculate the overall passing rate (average of the math and reading passing rate)


Schools = school_data_complete['school_name'].unique()
Total_schools=len(Schools)

top5["overallratio"].sum()/Total_schools

0.8219059688632726

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [16]:
#  Sort and display the worst five schools in overall passing rate

bottom5 = school_data_complete.groupby('school_name').agg(
    studentcounts = pd.NamedAgg(column='Student ID', aggfunc='count'),
    mathfail = pd.NamedAgg(column='math_score', aggfunc=lambda x: (x<70).sum()),
    readingfail = pd.NamedAgg(column='reading_score', aggfunc=lambda x: (x<70).sum())
)

bottom5["mathratio"]=bottom5['mathfail']/bottom5['studentcounts']
bottom5["readingratio"]=bottom5['readingfail']/bottom5['studentcounts']
bottom5["overallratio"]= (bottom5["mathratio"]+bottom5["readingratio"])/2

bottom5.sort_values("overallratio", ascending=True).head(5)

,studentcounts,mathfail,readingfail,mathratio,readingratio,overallratio
school_name,,,,,,
Cabrera High School,1858,109,55,0.058665,0.029602,0.044133
Thomas High School,1635,110,44,0.067278,0.026911,0.047095
Pena High School,962,52,39,0.054054,0.040541,0.047297
Griffin High School,1468,97,42,0.066076,0.028610,0.047343
Wilson High School,2283,140,79,0.061323,0.034604,0.047963

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [17]:
# Create table that lists the average math score for each school of each grade level.
#

school_data_complete.groupby(by=['school_name', 'grade'] ).mean('math_score')

                               Student ID  reading_score  math_score  \
school_name           grade
Bailey High School    10th   20365.058918      80.907183   76.996772
                      11th   20345.148681      80.945643   77.515588
                      12th   20386.724708      80.912451   76.492218
                      9th    20344.481481      81.303155   77.083676
Cabrera High School   10th   16909.487124      84.253219   83.154506
                      11th   16955.047718      83.788382   82.765560
                      12th   16924.570681      84.287958   83.277487
                      9th    16969.634470      83.676136   83.094697
Figueroa High School  10th    4332.703801      81.408912   76.539974
                      11th    4424.478138      80.640339   76.884344
                      12th    4414.922705      81.384863   77.151369
                      9th     4397.878505      81.198598   76.403037
Ford High School      10th   36122.879944      81.262712   77.672316
                      11th   36212.534143      80.403642   76.918058
                      12th   36153.562152      80.662338   76.179963
                      9th    36170.595438      80.632653   77.361345
Griffin High School   10th   12983.711823      83.706897   84.229064
                      11th   12983.038781      84.288089   83.842105
                      12th   12977.143836      84.013699   83.356164
                      9th    13031.305623      83.369193   82.044010
Hernandez High School 10th    9930.783211      80.660147   77.337408
                      11th    9948.641544      81.396140   77.136029
                      12th    9978.563966      80.857143   77.186567
                      9th     9928.620839      80.866860   77.438495
Holden High School    10th   23076.342105      83.324561   83.429825
                      11th   23046.883495      83.815534   85.000000
                      12th   23041.108434      84.698795   82.855422
                      9th    23068.314961      83.677165   83.787402
Huang High School     10th    1450.796610      81.512386   75.908735
                      11th    1458.094313      81.417476   76.446602
                      12th    1485.035897      80.305983   77.225641
                      9th     1445.726303      81.290284   77.027251
Johnson High School   10th   32467.993480      80.773431   76.691117
                      11th   32378.549249      80.616027   77.491653
                      12th   32414.657051      81.227564   76.863248
                      9th    32399.975714      81.260714   77.187857
Pena High School      10th   23769.208000      83.612000   83.372000
                      11th   23742.605469      84.335938   84.328125
                      12th   23733.342541      84.591160   84.121547
                      9th    23766.127273      83.807273   83.625455
Rodriguez High School 10th   28050.171154      80.629808   76.612500
                      11th   28048.515905      80.864811   76.395626
                      12th   28023.722433      80.376426   77.690748
                      9th    28017.408076      80.993127   76.859966
Shelton High School   10th    6748.301339      83.441964   82.917411
                      11th    6742.453883      84.373786   83.383495
                      12th    6740.566038      82.781671   83.778976
                      9th     6750.615094      84.122642   83.420755
Thomas High School    10th   38346.368171      84.254157   83.087886
                      11th   38345.636145      83.585542   83.498795
                      12th   38360.289941      83.831361   83.497041
                      9th    38356.793926      83.728850   83.590022
Wilson High School    10th   14884.930693      84.021452   83.724422
                      11th   14855.539232      83.764608   83.195326
                      12th   14860.597315      84.317673   83.035794
                      9th    14879.667195      83.939778   83.085578
Wright High School    10th   25122.296296      83.812757   84.010288
                      11th   25147.331034      84.156322   83.836782
                      12th   25115.626016      84.073171   83.644986
                      9th    25152.370588      83.833333   83.264706

                             School ID    size     budget
school_name           grade
Bailey High School    10th         7.0  4976.0  3124928.0
                      11th         7.0  4976.0  3124928.0
                      12th         7.0  4976.0  3124928.0
                      9th          7.0  4976.0  3124928.0
Cabrera High School   10th         6.0  1858.0  1081356.0
                      11th         6.0  1858.0  1081356.0
                      12th         6.0  1858.0  1081356.0
                      9th          6.0  1858.0  1081356.0
Figueroa High School  10th         1.0  2949.0  1884411.0
                      11th         1.0  2949.0  1884411.0
                      12th         1.0  2949.0  1884411.0
                      9th          1.0  2949.0  1884411.0
Ford High School      10th        13.0  2739.0  1763916.0
                      11th        13.0  2739.0  1763916.0
                      12th        13.0  2739.0  1763916.0
                      9th         13.0  2739.0  1763916.0
Griffin High School   10th         4.0  1468.0   917500.0
                      11th         4.0  1468.0   917500.0
                      12th         4.0  1468.0   917500.0
                      9th          4.0  1468.0   917500.0
Hernandez High School 10th         3.0  4635.0  3022020.0
                      11th         3.0  4635.0  3022020.0
                      12th         3.0  4635.0  3022020.0
                      9th          3.0  4635.0  3022020.0
Holden High School    10th         8.0   427.0   248087.0
                      11th         8.0   427.0   248087.0
                      12th         8.0   427.0   248087.0
                      9th          8.0   427.0   248087.0
Huang High School     10th         0.0  2917.0  1910635.0
                      11th         0.0  2917.0  1910635.0
                      12th         0.0  2917.0  1910635.0
                      9th          0.0  2917.0  1910635.0
Johnson High School   10th        12.0  4761.0  3094650.0
                      11th        12.0  4761.0  3094650.0
                      12th        12.0  4761.0  3094650.0
                      9th         12.0  4761.0  3094650.0
Pena High School      10th         9.0   962.0   585858.0
                      11th         9.0   962.0   585858.0
                      12th         9.0   962.0   585858.0
                      9th          9.0   962.0   585858.0
Rodriguez High School 10th        11.0  3999.0  2547363.0
                      11th        11.0  3999.0  2547363.0
                      12th        11.0  3999.0  2547363.0
                      9th         11.0  3999.0  2547363.0
Shelton High School   10th         2.0  1761.0  1056600.0
                      11th         2.0  1761.0  1056600.0
                      12th         2.0  1761.0  1056600.0
                      9th          2.0  1761.0  1056600.0
Thomas High School    10th        14.0  1635.0  1043130.0
                      11th        14.0  1635.0  1043130.0
                      12th        14.0  1635.0  1043130.0
                      9th         14.0  1635.0  1043130.0
Wilson High School    10th         5.0  2283.0  1319574.0
                      11th         5.0  2283.0  1319574.0
                      12th         5.0  2283.0  1319574.0
                      9th          5.0  2283.0  1319574.0
Wright High School    10th        10.0  1800.0  1049400.0
                      11th        10.0  1800.0  1049400.0
                      12th        10.0  1800.0  1049400.0
                      9th         10.0  1800.0  1049400.0

In [18]:
# Calculate the average math score for 9th grade in each school

avg_9th_math = school_data_complete[school_data_complete['grade'] == '9th']
avg_9th_math = avg_9th_math.groupby('school_name')['math_score'].mean()
avg_9th_math

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [19]:
# Calculate the average math score for 10th grade in each school

avg_10th_math = school_data_complete[school_data_complete['grade'] == '10th']
avg_10th_math = avg_10th_math.groupby('school_name')['math_score'].mean()
avg_10th_math

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [20]:
# Calculate the average math score for 11th grade in each school

avg_11th_math = school_data_complete[school_data_complete['grade'] == '11th']
avg_11th_math = avg_11th_math.groupby('school_name')['math_score'].mean()
avg_11th_math

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [21]:
# Calculate the average math score for 12th grade in each school

avg_12th_math = school_data_complete[school_data_complete['grade'] == '12th']
avg_12th_math = avg_12th_math.groupby('school_name')['math_score'].mean()
avg_12th_math

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [22]:
# Create table that lists the average reading score for each school of each grade level.

school_data_complete.groupby(by=['school_name', 'grade'] ).mean('reading_score')

                               Student ID  reading_score  math_score  \
school_name           grade
Bailey High School    10th   20365.058918      80.907183   76.996772
                      11th   20345.148681      80.945643   77.515588
                      12th   20386.724708      80.912451   76.492218
                      9th    20344.481481      81.303155   77.083676
Cabrera High School   10th   16909.487124      84.253219   83.154506
                      11th   16955.047718      83.788382   82.765560
                      12th   16924.570681      84.287958   83.277487
                      9th    16969.634470      83.676136   83.094697
Figueroa High School  10th    4332.703801      81.408912   76.539974
                      11th    4424.478138      80.640339   76.884344
                      12th    4414.922705      81.384863   77.151369
                      9th     4397.878505      81.198598   76.403037
Ford High School      10th   36122.879944      81.262712   77.672316
                      11th   36212.534143      80.403642   76.918058
                      12th   36153.562152      80.662338   76.179963
                      9th    36170.595438      80.632653   77.361345
Griffin High School   10th   12983.711823      83.706897   84.229064
                      11th   12983.038781      84.288089   83.842105
                      12th   12977.143836      84.013699   83.356164
                      9th    13031.305623      83.369193   82.044010
Hernandez High School 10th    9930.783211      80.660147   77.337408
                      11th    9948.641544      81.396140   77.136029
                      12th    9978.563966      80.857143   77.186567
                      9th     9928.620839      80.866860   77.438495
Holden High School    10th   23076.342105      83.324561   83.429825
                      11th   23046.883495      83.815534   85.000000
                      12th   23041.108434      84.698795   82.855422
                      9th    23068.314961      83.677165   83.787402
Huang High School     10th    1450.796610      81.512386   75.908735
                      11th    1458.094313      81.417476   76.446602
                      12th    1485.035897      80.305983   77.225641
                      9th     1445.726303      81.290284   77.027251
Johnson High School   10th   32467.993480      80.773431   76.691117
                      11th   32378.549249      80.616027   77.491653
                      12th   32414.657051      81.227564   76.863248
                      9th    32399.975714      81.260714   77.187857
Pena High School      10th   23769.208000      83.612000   83.372000
                      11th   23742.605469      84.335938   84.328125
                      12th   23733.342541      84.591160   84.121547
                      9th    23766.127273      83.807273   83.625455
Rodriguez High School 10th   28050.171154      80.629808   76.612500
                      11th   28048.515905      80.864811   76.395626
                      12th   28023.722433      80.376426   77.690748
                      9th    28017.408076      80.993127   76.859966
Shelton High School   10th    6748.301339      83.441964   82.917411
                      11th    6742.453883      84.373786   83.383495
                      12th    6740.566038      82.781671   83.778976
                      9th     6750.615094      84.122642   83.420755
Thomas High School    10th   38346.368171      84.254157   83.087886
                      11th   38345.636145      83.585542   83.498795
                      12th   38360.289941      83.831361   83.497041
                      9th    38356.793926      83.728850   83.590022
Wilson High School    10th   14884.930693      84.021452   83.724422
                      11th   14855.539232      83.764608   83.195326
                      12th   14860.597315      84.317673   83.035794
                      9th    14879.667195      83.939778   83.085578
Wright High School    10th   25122.296296      83.812757   84.010288
                      11th   25147.331034      84.156322   83.836782
                      12th   25115.626016      84.073171   83.644986
                      9th    25152.370588      83.833333   83.264706

                             School ID    size     budget
school_name           grade
Bailey High School    10th         7.0  4976.0  3124928.0
                      11th         7.0  4976.0  3124928.0
                      12th         7.0  4976.0  3124928.0
                      9th          7.0  4976.0  3124928.0
Cabrera High School   10th         6.0  1858.0  1081356.0
                      11th         6.0  1858.0  1081356.0
                      12th         6.0  1858.0  1081356.0
                      9th          6.0  1858.0  1081356.0
Figueroa High School  10th         1.0  2949.0  1884411.0
                      11th         1.0  2949.0  1884411.0
                      12th         1.0  2949.0  1884411.0
                      9th          1.0  2949.0  1884411.0
Ford High School      10th        13.0  2739.0  1763916.0
                      11th        13.0  2739.0  1763916.0
                      12th        13.0  2739.0  1763916.0
                      9th         13.0  2739.0  1763916.0
Griffin High School   10th         4.0  1468.0   917500.0
                      11th         4.0  1468.0   917500.0
                      12th         4.0  1468.0   917500.0
                      9th          4.0  1468.0   917500.0
Hernandez High School 10th         3.0  4635.0  3022020.0
                      11th         3.0  4635.0  3022020.0
                      12th         3.0  4635.0  3022020.0
                      9th          3.0  4635.0  3022020.0
Holden High School    10th         8.0   427.0   248087.0
                      11th         8.0   427.0   248087.0
                      12th         8.0   427.0   248087.0
                      9th          8.0   427.0   248087.0
Huang High School     10th         0.0  2917.0  1910635.0
                      11th         0.0  2917.0  1910635.0
                      12th         0.0  2917.0  1910635.0
                      9th          0.0  2917.0  1910635.0
Johnson High School   10th        12.0  4761.0  3094650.0
                      11th        12.0  4761.0  3094650.0
                      12th        12.0  4761.0  3094650.0
                      9th         12.0  4761.0  3094650.0
Pena High School      10th         9.0   962.0   585858.0
                      11th         9.0   962.0   585858.0
                      12th         9.0   962.0   585858.0
                      9th          9.0   962.0   585858.0
Rodriguez High School 10th        11.0  3999.0  2547363.0
                      11th        11.0  3999.0  2547363.0
                      12th        11.0  3999.0  2547363.0
                      9th         11.0  3999.0  2547363.0
Shelton High School   10th         2.0  1761.0  1056600.0
                      11th         2.0  1761.0  1056600.0
                      12th         2.0  1761.0  1056600.0
                      9th          2.0  1761.0  1056600.0
Thomas High School    10th        14.0  1635.0  1043130.0
                      11th        14.0  1635.0  1043130.0
                      12th        14.0  1635.0  1043130.0
                      9th         14.0  1635.0  1043130.0
Wilson High School    10th         5.0  2283.0  1319574.0
                      11th         5.0  2283.0  1319574.0
                      12th         5.0  2283.0  1319574.0
                      9th          5.0  2283.0  1319574.0
Wright High School    10th        10.0  1800.0  1049400.0
                      11th        10.0  1800.0  1049400.0
                      12th        10.0  1800.0  1049400.0
                      9th         10.0  1800.0  1049400.0

In [23]:
# Calculate the average reading score for 9th grade in each school

avg_9th_reading = school_data_complete[school_data_complete['grade'] == '9th']
avg_9th_reading = avg_9th_reading.groupby('school_name')['reading_score'].mean()
avg_9th_reading

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [24]:
# Calculate the average reading score for 10th grade in each school

avg_10th_reading = school_data_complete[school_data_complete['grade'] == '10th']
avg_10th_reading = avg_10th_reading.groupby('school_name')['reading_score'].mean()
avg_10th_reading

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [25]:
# Calculate the average reading score for 11th grade in each school

avg_11th_reading = school_data_complete[school_data_complete['grade'] == '11th']
avg_11th_reading = avg_11th_reading.groupby('school_name')['reading_score'].mean()
avg_11th_reading

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [26]:
# Calculate the average reading score for 12th grade in each school

avg_12th_reading = school_data_complete[school_data_complete['grade'] == '12th']
avg_12th_reading = avg_12th_reading.groupby('school_name')['reading_score'].mean()
avg_12th_reading

school_name
Bailey High School       80.912451
Cabrera High School      84.287958
Figueroa High School     81.384863
Ford High School         80.662338
Griffin High School      84.013699
Hernandez High School    80.857143
Holden High School       84.698795
Huang High School        80.305983
Johnson High School      81.227564
Pena High School         84.591160
Rodriguez High School    80.376426
Shelton High School      82.781671
Thomas High School       83.831361
Wilson High School       84.317673
Wright High School       84.073171
Name: reading_score, dtype: float64

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [27]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [28]:
# Create a new column to show budget per student in each row
school_data_complete['budget_per_student']=school_data_complete['budget']/school_data_complete['size']
school_data_complete['spending']=pd.cut(school_data_complete['budget_per_student'],
                                       spending_bins,
                                       group_names)
school_data_complete.groupby('spending').agg(
    avg_math_score= pd.NamedAgg(column='math_score', aggfunc='mean'),
    avg_reading_score = pd.NamedAgg(column='reading_score', aggfunc='mean'))
#student_budget = ["$700,000", "$1400000", "$2100000", "$2800000", "$3500000"]

            avg_math_score  avg_reading_score
spending
(0, 585]         83.363065          83.964039
(585, 615]       83.529196          83.838414
(615, 645]       78.061635          81.434088
(645, 675]       77.049297          81.005604

In [29]:
# Create a new column to define the spending ranges per student

#finished

In [30]:
# Calculate the average math score within each spending range

#finished

In [32]:
# Calculate the percentage passing rate for math in each spending range

mathpassing= school_data_complete.groupby('school_name').agg(
    mathcounts = pd.NamedAgg(column='math_score', aggfunc='count'),
    mathpass = pd.NamedAgg(column='math_score', aggfunc=lambda x: (x>70).sum()))

mathpassing["math_passing_rate"]=mathpassing['mathpass']/mathpassing['mathcounts']

mathpassing

                       mathcounts  mathpass  math_passing_rate
school_name
Bailey High School           4976      3216           0.646302
Cabrera High School          1858      1664           0.895587
Figueroa High School         2949      1880           0.637504
Ford High School             2739      1801           0.657539
Griffin High School          1468      1317           0.897139
Hernandez High School        4635      3001           0.647465
Holden High School            427       387           0.906323
Huang High School            2917      1847           0.633185
Johnson High School          4761      3040           0.638521
Pena High School              962       882           0.916840
Rodriguez High School        3999      2562           0.640660
Shelton High School          1761      1583           0.898921
Thomas High School           1635      1475           0.902141
Wilson High School           2283      2076           0.909330
Wright High School           1800      1625           0.902778

In [77]:
# Calculate the percentage passing rate for reading in each spending range

readpassing = school_data_complete.groupby('spending').agg(
    readcounts = pd.NamedAgg(column='reading_score', aggfunc='count'),
    readpass = pd.NamedAgg(column='reading_score', aggfunc=lambda x: (x>70).sum()))

readpassing["reading_passing_rate"]=readpassing['readpass']/readpassing['readcounts']

readpassing

            readcounts  readpass  reading_passing_rate
spending
(0, 585]          6368      5951              0.934516
(585, 615]        2723      2518              0.924715
(615, 645]       17766     14381              0.809468
(645, 675]       12313      9650              0.783725

In [33]:
# Calculate the percentage overall passing rate in each spending range

allpassing = school_data_complete.groupby('spending').agg(
    readcounts = pd.NamedAgg(column='reading_score', aggfunc='count'),
    readpass = pd.NamedAgg(column='reading_score', aggfunc=lambda x: (x>70).sum()),
    mathcounts = pd.NamedAgg(column='math_score', aggfunc='count'),
    mathpass = pd.NamedAgg(column='math_score', aggfunc=lambda x:(x>70).sum()))

allpassing["overall_pass_rate"]=allpassing['readpass']+allpassing['mathpass']

allpassing

            readcounts  readpass  mathcounts  mathpass  overall_pass_rate
spending
(0, 585]          6368      5951        6368      5752              11703
(585, 615]        2723      2518        2723      2465               4983
(615, 645]       17766     14381       17766     12251              26632
(645, 675]       12313      9650       12313      7888              17538

### Scores by School Size

* Perform the same operations as above, based on school size.

In [34]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [82]:
# Create a new column for the bin groups
school_data_complete['school_size']=pd.cut(school_data_complete['size'],
                                       size_bins,
                                       group_names)
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,budget_per_student,spending,school_size
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0,"(645, 675]","(2000, 5000]"
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0,"(645, 675]","(2000, 5000]"
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0,"(645, 675]","(2000, 5000]"
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0,"(645, 675]","(2000, 5000]"
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0,"(645, 675]","(2000, 5000]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,638.0,"(615, 645]","(1000, 2000]"
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,638.0,"(615, 645]","(1000, 2000]"
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,638.0,"(615, 645]","(1000, 2000]"
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,638.0,"(615, 645]","(1000, 2000]"
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,638.0,"(615, 645]","(1000, 2000]"

Look for the total count of test scores that pass 70% or higher

In [43]:
# math_pass_size

math_pass_size = school_data_complete.groupby('size').agg(
    mathcount3= pd.NamedAgg(column='math_score', aggfunc='count'),
    mathpass3= pd.NamedAgg(column='math_score', aggfunc=lambda x: (x>70).sum()))

math_pass_size

      mathcount3  mathpass3
size
427          427        387
962          962        882
1468        1468       1317
1635        1635       1475
1761        1761       1583
1800        1800       1625
1858        1858       1664
2283        2283       2076
2739        2739       1801
2917        2917       1847
2949        2949       1880
3999        3999       2562
4635        4635       3001
4761        4761       3040
4976        4976       3216

In [36]:
# read_pass_size

read_pass_size = school_data_complete.groupby('size').agg(
    readcount2= pd.NamedAgg(column='reading_score', aggfunc='count'),
    readpass2= pd.NamedAgg(column='reading_score', aggfunc=lambda x: (x>70).sum()))

read_pass_size

      readcount2  readpass2
size
427          427        396
962          962        887
1468        1468       1371
1635        1635       1519
1761        1761       1631
1800        1800       1682
1858        1858       1744
2283        2283       2129
2739        2739       2123
2917        2917       2299
2949        2949       2313
3999        3999       3109
4635        4635       3624
4761        4761       3727
4976        4976       3946

In [39]:
# Calculate the overall passing rate for different school size

overall_pass_size = school_data_complete.groupby('size').agg(
    mathcount2= pd.NamedAgg(column='math_score', aggfunc='count'),
    mathpass2= pd.NamedAgg(column='math_score', aggfunc=lambda x: (x>70).sum()),
    readcount2= pd.NamedAgg(column='reading_score', aggfunc='count'),
    readpass2= pd.NamedAgg(column='reading_score', aggfunc=lambda x: (x>70).sum()))

overall_pass_size["overall_count"]=(overall_pass_size['mathpass2']+overall_pass_size['readpass2'])/(\
                                    overall_pass_size['mathcount2']+overall_pass_size['readcount2'])

overall_pass_size

      mathcount2  mathpass2  readcount2  readpass2  overall_count
size
427          427        387         427        396       0.916862
962          962        882         962        887       0.919439
1468        1468       1317        1468       1371       0.915531
1635        1635       1475        1635       1519       0.915596
1761        1761       1583        1761       1631       0.912550
1800        1800       1625        1800       1682       0.918611
1858        1858       1664        1858       1744       0.917115
2283        2283       2076        2283       2129       0.920937
2739        2739       1801        2739       2123       0.716320
2917        2917       1847        2917       2299       0.710662
2949        2949       1880        2949       2313       0.710919
3999        3999       2562        3999       3109       0.709052
4635        4635       3001        4635       3624       0.714671
4761        4761       3040        4761       3727       0.710670
4976        4976       3216        4976       3946       0.719654

### Scores by School Type

* Perform the same operations as above, based on school type.

In [40]:
# Create bins and groups, school type {'Charter', 'District'}

type_bins = ['Charter', 'District']
group_names = ['Charter', 'District']

Find counts of the passing 70 or higher score for the both test

In [48]:
# math pass size


math_type_size = school_data_complete.groupby('type').agg(
    mathpass2= pd.NamedAgg(column='math_score', aggfunc=lambda x: (x>70).sum()))

math_type_size

          mathpass2
type
Charter       11009
District      17347

In [47]:
# reading pass size

read_type_size = school_data_complete.groupby('type').agg(
    readpass3= pd.NamedAgg(column='reading_score', aggfunc=lambda x: (x>70).sum()))

read_type_size

          readpass3
type
Charter       11359
District      21141

In [59]:
# Calculate the overall passing rate

overall_type_size = school_data_complete.groupby('type').agg(
    readpass3= pd.NamedAgg(column='reading_score', aggfunc=lambda x: (x>70).sum()),
    mathpass2= pd.NamedAgg(column='math_score', aggfunc=lambda x: (x>70).sum()),
    readcount= pd.NamedAgg(column='reading_score', aggfunc='count'),
    mathcount= pd.NamedAgg(column='math_score', aggfunc='count'))

overall_type_size['overall_sizes']= overall_type_size['readcount']+overall_type_size['mathcount']
overall_type_size['combined_pcount'] = overall_type_size['mathpass2']+overall_type_size['readpass3']
overall_type_size['overall_type_per_pcount']= (overall_type_size['combined_pcount']/overall_type_size['overall_sizes'])*100

overall_type_size

,readpass3,mathpass2,readcount,mathcount,overall_sizes,combined_pcount,overall_type_per_pcount
type,,,,,,,
Charter,11359,11009,12194,12194,24388,22368,91.717238
District,21141,17347,26976,26976,53952,38488,71.337485