# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\\$645 - 675) underperformed compared to schools with smaller budgets (\\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

**Note:**
Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [46]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "data/schools_complete.csv"
student_data_to_load = "data/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

# school_data_complete.count()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [47]:
# Create a District Summary
school_data_complete.describe()

,Student ID,reading_score,math_score,School ID,size,budget
count,39170.000000,39170.00000,39170.000000,39170.000000,39170.000000,3.917000e+04
mean,19584.500000,81.87784,78.985371,6.978172,3332.957110,2.117241e+06
std,11307.549359,10.23958,12.309968,4.444329,1323.914069,8.749987e+05
min,0.000000,63.00000,55.000000,0.000000,427.000000,2.480870e+05
25%,9792.250000,73.00000,69.000000,3.000000,1858.000000,1.081356e+06
50%,19584.500000,82.00000,79.000000,7.000000,2949.000000,1.910635e+06
75%,29376.750000,91.00000,89.000000,11.000000,4635.000000,3.022020e+06
max,39169.000000,99.00000,99.000000,14.000000,4976.000000,3.124928e+06

In [48]:
# Total number of schools

school_data_complete['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [49]:
# Total number of students

school_data_complete['Student ID'].count()

39170

In [50]:
# Total budget

school_data_complete['budget'].sum()

82932329558

In [51]:
# Average math score
school_data_complete['math_score'].mean()

78.98537145774827

In [52]:
# Average reading score
school_data_complete['reading_score'].mean()

81.87784018381414

In [53]:
# Overall average score
reading = school_data_complete['reading_score'].mean()
math = school_data_complete['math_score'].mean()

(math + reading) / 2

80.43160582078121

In [54]:
# Percentage of passing math (70 or greater)

len(school_data_complete[school_data_complete['math_score']>=70])/school_data_complete['Student ID'].count()*100

74.9808526933878

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

### Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [55]:
#  Sort and display the top five schools in overall passing rate

top5 = school_data_complete.groupby('school_name').agg(
    studentcounts = pd.NamedAgg(column='Student ID', aggfunc='count'),
    mathpass = pd.NamedAgg(column='math_score', aggfunc=lambda x: (x>70).sum()),
    readingpass = pd.NamedAgg(column='reading_score', aggfunc=lambda x: (x>70).sum())
)
#school_data_complete.sort_values('school_name', ascending=False).head()

top5["mathratio"]=top5['mathpass']/top5['studentcounts']
top5["readingratio"]=top5['readingpass']/top5['studentcounts']
top5["overallratio"]= (top5["mathratio"]+top5["readingratio"])/2
top5.sort_values("overallratio", ascending=False).head(5)

,studentcounts,mathpass,readingpass,mathratio,readingratio,overallratio
school_name,,,,,,
Wilson High School,2283,2076,2129,0.909330,0.932545,0.920937
Pena High School,962,882,887,0.916840,0.922037,0.919439
Wright High School,1800,1625,1682,0.902778,0.934444,0.918611
Cabrera High School,1858,1664,1744,0.895587,0.938644,0.917115
Holden High School,427,387,396,0.906323,0.927400,0.916862

In [56]:
# Calculate total school budget
school_budget = school_data_complete['budget'].sum()
school_budget

82932329558

In [57]:
# Calculate per student budget

student_count = school_data_complete['Student ID'].count()
school_budget / student_count

2117240.989481746

In [58]:
# Cacluate the avg math and reading score

school_data_complete['math_score'].mean()
school_data_complete['reading_score'].mean()

81.87784018381414

#### Find the passing rate for math and reading (above 70 points)

In [59]:
# Find the total counts of math result



# Find the counts for math result in each school that pass 70 or higher


# Calculate the math passing rate: mathpass/mathcounts

mathpassers = school_data_complete.groupby('school_name').agg(
    mathcounts = pd.NamedAgg(column='math_score', aggfunc='count'),
    mathpass = pd.NamedAgg(column='math_score', aggfunc=lambda x: (x>70).sum()))

mathpassers["math_passing_rate"]=mathpassers['mathpass']/mathpassers['mathcounts']

mathpassers

                       mathcounts  mathpass  math_passing_rate
school_name
Bailey High School           4976      3216           0.646302
Cabrera High School          1858      1664           0.895587
Figueroa High School         2949      1880           0.637504
Ford High School             2739      1801           0.657539
Griffin High School          1468      1317           0.897139
Hernandez High School        4635      3001           0.647465
Holden High School            427       387           0.906323
Huang High School            2917      1847           0.633185
Johnson High School          4761      3040           0.638521
Pena High School              962       882           0.916840
Rodriguez High School        3999      2562           0.640660
Shelton High School          1761      1583           0.898921
Thomas High School           1635      1475           0.902141
Wilson High School           2283      2076           0.909330
Wright High School           1800      1625           0.902778

In [60]:
# Find the total counts of read result

# Find the counts for read result in each school that pass 70 or higher


# Calculate the read passing rate

readpassers = school_data_complete.groupby('school_name').agg(
    readcounts = pd.NamedAgg(column='reading_score', aggfunc='count'),
    readpass = pd.NamedAgg(column='reading_score', aggfunc=lambda x: (x>70).sum()))

readpassers["reading_passing_rate"]=readpassers['readpass']/readpassers['readcounts']

readpassers

                       readcounts  readpass  reading_passing_rate
school_name
Bailey High School           4976      3946              0.793006
Cabrera High School          1858      1744              0.938644
Figueroa High School         2949      2313              0.784334
Ford High School             2739      2123              0.775100
Griffin High School          1468      1371              0.933924
Hernandez High School        4635      3624              0.781877
Holden High School            427       396              0.927400
Huang High School            2917      2299              0.788138
Johnson High School          4761      3727              0.782819
Pena High School              962       887              0.922037
Rodriguez High School        3999      3109              0.777444
Shelton High School          1761      1631              0.926178
Thomas High School           1635      1519              0.929052
Wilson High School           2283      2129              0.932545
Wright High School           1800      1682              0.934444

In [78]:
# Calculate the overall passing rate (average of the math and reading passing rate)


Schools = school_data_complete['school_name'].unique()
Total_schools=len(Schools)

top5["overallratio"].sum()/Total_schools

0.8219059688632726

### Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [88]:
#  Sort and display the worst five schools in overall passing rate

bottom5 = school_data_complete.groupby('school_name').agg(
    studentcounts = pd.NamedAgg(column='Student ID', aggfunc='count'),
    mathfail = pd.NamedAgg(column='math_score', aggfunc=lambda x: (x<70).sum()),
    readingfail = pd.NamedAgg(column='reading_score', aggfunc=lambda x: (x<70).sum())
)

bottom5["mathratio"]=bottom5['mathfail']/bottom5['studentcounts']
bottom5["readingratio"]=bottom5['readingfail']/bottom5['studentcounts']
bottom5["overallratio"]= (bottom5["mathratio"]+bottom5["readingratio"])/2

bottom5.sort_values("overallratio", ascending=True).head(5)

,studentcounts,mathfail,readingfail,mathratio,readingratio,overallratio
school_name,,,,,,
Cabrera High School,1858,109,55,0.058665,0.029602,0.044133
Thomas High School,1635,110,44,0.067278,0.026911,0.047095
Pena High School,962,52,39,0.054054,0.040541,0.047297
Griffin High School,1468,97,42,0.066076,0.028610,0.047343
Wilson High School,2283,140,79,0.061323,0.034604,0.047963

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [117]:
# Create table that lists the average math score for each school of each grade level.

columns = school_data_complete[['school_name', 'grade', 'math_score']]
pivot_table = columns.pivot_table(values='math_score', index='school_name', columns=['grade'], aggfunc=len)

pivot_table

grade                  10th  11th  12th   9th
school_name
Bailey High School     1239  1251  1028  1458
Cabrera High School     466   482   382   528
Figueroa High School    763   709   621   856
Ford High School        708   659   539   833
Griffin High School     406   361   292   409
Hernandez High School  1227  1088   938  1382
Holden High School      114   103    83   127
Huang High School       767   721   585   844
Johnson High School    1227  1198   936  1400
Pena High School        250   256   181   275
Rodriguez High School  1040  1006   789  1164
Shelton High School     448   412   371   530
Thomas High School      421   415   338   461
Wilson High School      606   599   447   631
Wright High School      486   435   369   510

In [ ]:
# Calculate the average math score for 9th grade in each school

In [ ]:
# Calculate the average math score for 10th grade in each school

In [ ]:
# Calculate the average math score for 11th grade in each school

In [ ]:
# Calculate the average math score for 12th grade in each school

### Reading Score by Grade

* Perform the same operations as above for reading scores

In [ ]:
# Create table that lists the average reading score for each school of each grade level.

In [ ]:
# Calculate the average reading score for 9th grade in each school

In [ ]:
# Calculate the average reading score for 10th grade in each school

In [ ]:
# Calculate the average reading score for 11th grade in each school

In [ ]:
# Calculate the average reading score for 12th grade in each school

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [99]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [ ]:
# Create a new column to show budget per student in each row

In [ ]:
# Create a new column to define the spending ranges per student

In [ ]:
# Calculate the average math score within each spending range

In [ ]:
# Calculate the percentage passing rate for math in each spending range

In [ ]:
# Calculate the percentage passing rate for reading in each spending range

In [ ]:
# Calculate the percentage overall passing rate in each spending range

### Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [ ]:
# Create a new column for the bin groups

Look for the total count of test scores that pass 70% or higher

In [ ]:
# math_pass_size

In [ ]:
# read_pass_size

In [ ]:
# Calculate the overall passing rate for different school size

### Scores by School Type

* Perform the same operations as above, based on school type.

In [ ]:
# Create bins and groups, school type {'Charter', 'District'}

Find counts of the passing 70 or higher score for the both test

In [ ]:
# math pass size

In [ ]:
# reading pass size

In [ ]:
# Calculate the overall passing rate